@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
  --font-Nunito: "Nunito", sans-serif;
  --font-Arimo: "Arimo", sans-serif;
}
@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.animate-float {
  animation: float 2.5s ease-in-out infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes appear{
  from{
    opacity: 0;
    clip-path: inset(0 100% 100% 100%);
  }
  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.animation-block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appears{
  from{
    opacity: 0;
    transform: translatex(200px);
  }
  to{
    opacity: 1;
    transform: translatex(0px);
  }
}
.animation-side {
  animation: appears linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes pops{
  from{
    opacity: 0;
    scale: 0;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.animation-pops {
  animation: pops linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hover-slow-rotate:hover {
  animation: slowRotate 6s linear infinite;
}


@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes iconPulse {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(0.8);
  }
}

.animate-spinSlow {
  animation: spinSlow 18s linear infinite;
}

.animate-spinReverse {
  animation: spinReverse 14s linear infinite;
}

.animate-iconPulse {
  animation: iconPulse 2.5s ease-in-out infinite;
}


@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  width: max-content;
  animation: scrollLoop 15s linear infinite;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  width: max-content;
}

html {
  scroll-behavior: smooth;
}